name: CI-CD Plataforma

on:
  push:
    branches: [ main ]
  repository_dispatch:
jobs:
  deploy-lambda:
    runs-on: ubuntu-latest
    steps:

      - name: Download source code
        uses: actions/checkout@v4

      - name: JDK Setup
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Cache Gradle dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties', '**/libs.versions.toml') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Build with Gradle
        env:
          REGION_VALUE: ${{ secrets.REGION }}
          ACCESS_KEY_ID: ${{ secrets.ACCESS_KEY_ID }}
          SECRET_ACCESS_KEY: ${{ secrets.SECRET_ACCESS_KEY }}
          USER_POOL_ID: ${{ secrets.USER_POOL_ID }}
          CLIENT_ID: ${{ secrets.CLIENT_ID }}
        run: |
          cd ./users/src/main/resources/
          sed -i "s/REGION_VALUE/${REGION_VALUE}/gi" application.conf
          sed -i "s/ACCESS_KEY_ID/${ACCESS_KEY_ID}/gi" application.conf
          ESCAPED_SECRET=$(printf '%s\n' "$SECRET_ACCESS_KEY" | sed -e 's/[\/&]/\\&/g')
          sed -i "s/SECRET_ACCESS_KEY/${ESCAPED_SECRET}/gi" application.conf
          sed -i "s/USER_POOL_ID/${USER_POOL_ID}/gi" application.conf
          sed -i "s/CLIENT_ID/${CLIENT_ID}/gi" application.conf
          cd ../../../../
          chmod +x gradlew
          ./gradlew build -x compileTestKotlinIosX64 -x compileProductionExecutableKotlinWasmJsOptimize

      - name: Deploy lambda
        uses: yvesgurcan/deploy-lambda-function@master
        with:
          package: ./users/build/libs/users-all.jar
          function-name: kotlinTest
          AWS_REGION: ${{ secrets.AWS_DEPLOY_REGION }}
          AWS_SECRET_ID: ${{ secrets.AWS_DEPLOYER_SECRET_ID }}
          AWS_SECRET_KEY: ${{ secrets.AWS_DEPLOYER_SECRET_KEY }}
